
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: inherit;
}

html{
    font-family: 'Fira Sans', sans-serif;
    font-size: 62.5%;
}

.container{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #ffddcf;


    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(5,1fr);
}


/*/////////////////////////////////// HEADER ///////////////////////////////////*/

.header{
    grid-row: 1/2;
    grid-column: 1/-1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    position: absolute;
    top:0;
    right:0;
}

.heading{
    color:#FF530D;
    font-size: 3rem;
    letter-spacing: .2rem;
}

/*/////////////////////////////////// WORD ///////////////////////////////////*/

.word-section{
    grid-row: 2/3;
    grid-column: 3/-1;

    display: flex;
    justify-content: center;
    align-content: center;
}

.word{
    display: flex;
    justify-content: center;
    align-items: center;
}


.letter{
    font-size: 2.5rem;
    font-weight: 900;
    color: #2B3A42;
    text-transform: uppercase;
    line-height: 1.7;   
    display: inline-block;


    flex:1;
    padding:1rem 2rem;

    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 4rem;

    visibility: visible;
}

.hide-letter{
    visibility: hidden;
}

.hide-letter:before{
    content:"_";
    color:#ff6a2d;
    visibility: visible;
}


.blank{
    transform: scaleX(5);
    padding:1rem 2rem;
    visibility: visible !important;
}

/*/////////////////////////////////// INPUT ///////////////////////////////////*/


.input-section{
    grid-row: 3/4;
    grid-column: 3/-1;
}

.input-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input{
    font-size: 3rem;
    padding: 2rem;
    width:8rem;
}

.guess{
    font-size: 1.5rem;
}

.input,.guess,.reset{
    border: 0;
    outline: 0;
    text-transform: uppercase;
    border-radius: 1rem;
    padding:1rem;
    letter-spacing: 1rem;
    text-align: center;
    font-weight: 400;
} 

.input:focus,.guess:focus{
    border: 0;
}

/*/////////////////////////////////// RESET ///////////////////////////////////*/


.reset-section{
    grid-row: 4/-1;
    grid-column: 3/-1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    font-size: 1.5rem;
}


.reset,.guess{
    font-size: 2rem;
    font-weight: 100;
    background-image: linear-gradient(to right bottom,rgb(28, 210, 223),rgb(105, 114, 230));
    color:rgb(255, 255, 255);
    box-shadow: 0rem .2rem .3rem white;
}

.reset:active,.guess:active{
    transform: translateY(.2rem);
    box-shadow: none;
}


/*/////////////////////////////////// HangMan ///////////////////////////////////*/


.hangman-section{
    grid-row: 2/6;
    grid-column: 1/4;
    /* background-color: black; */
    /* color:white; */

    display: flex;
    justify-content: center;
    align-content: center;
}

#animate{
    display: none;
}

.hideSVG{
    visibility: hidden;
}

/*/////////////////////////////////// SVG ///////////////////////////////////*/


/* COPY */
svg {
    margin:auto;
    /* border: 1px solid black; */
  }
  
  line {
    stroke: black;
    stroke-width: 4;
  }
  
  #door1 {
    transform-origin: 0% 100%;
  }
  
  #door2 {
    transform-origin: 100% 100%;
  }
  
  .hide {
    visibility: hidden;
  } 
  
/* COPY */ 



/*/////////////////////////////////// Complete ///////////////////////////////////*/


.complete-section{
    grid-row: 6/-1;
    grid-column: 1/-1;
    /* background-color: red; */
}
