body{
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table{
	margin:0 auto;
}

td{
	width: 100px;
	height: 100px;
}

tr>td:nth-child(2){
	border-left: 2px solid grey; 
	border-right: 2px solid grey; 
}

tr:nth-child(2) > td{
	border-top: 2px solid grey; 
	border-bottom: 2px solid grey;
}

h1,h2{
	text-align: center;
	color: #c4a552;
	font-family: 'Lobster', cursive;
	letter-spacing: 2rem;
}

td:hover{
	background-color: pink;
}


header{
	display: grid;
	grid-template-columns: auto auto;
}

span,.header_hide{
	display: none;
}

#circle_img,#cross_arrow {
	float: right;
}
#cross_img,#circle_arrow {
	float: left;
}

button{
	width: 15%;
	margin: 0 auto;
	display: none;
	background-color: #D2FDFF;
	color:#778472;
}

#cross_arrow {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

div > img:nth-child(2){
	display: none;
}

header > img {
	height: 50px;
	width: 50px;
}

#status{
	letter-spacing: 0.4rem;
	text-align: center;
	padding: 40px 0;
	font-size: 0.8rem;
	color: #0a0a0a;
	font-family: 'Anton', sans-serif;
	margin: auto;
}

#game_board{
	margin:0 auto;
}

ul{
	margin:0 0;
} 

ul > li {
	margin: auto;
	text-align: center;
	list-style:none;
	font-size: 0.8rem;
	width:30%;
	color: #0a0a0a;
	font-family: 'Anton', sans-serif;
}

#result{
	letter-spacing: .9rem;
	color: #3c90f0;
}

nav > ul{
	display: grid;
	grid-template-columns: auto auto auto;
}

#play_div{
	text-align: center;
}