@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    opacity: 0.8;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  padding: 1.5rem;
  box-sizing: border-box; }
  @media (min-width: 112.5em) {
    html {
      font-size: 120%; } }
  @media (max-width: 56.25em) {
    html {
      padding: 0;
      font-size: 60%; } }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }

.about-text {
  font-size: 1.6rem;
  color: #777; }
  .about-text--para {
    padding-bottom: 4rem; }

.heading-large {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: .3rem;
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: auto;
  transition: all .2s;
  padding-bottom: 5rem;
  margin: 5rem 0; }
  .heading-large:hover {
    transform: skewX(10deg) skewY(3deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-medium {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #777; }

.learn-more {
  font-size: 1.6rem; }
  .learn-more--btn {
    color: #55c57a;
    padding: 1rem .5rem;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 0.1rem solid #55c57a; }
    .learn-more--btn:hover {
      background-color: #55c57a;
      color: white;
      transition: all .5s;
      border: none;
      box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3); }
    .learn-more--btn:active, .learn-more--btn:hover {
      text-decoration: none; }

.btn-main {
  padding: 2rem 5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  background-color: #fff;
  color: #777;
  text-transform: uppercase;
  position: relative;
  display: inline-block; }
  .btn-main:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .btn-main:hover::after {
      transform: scaleX(2) scaleY(1.5);
      opacity: 0; }
  .btn-main:active {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-main:link, .btn-main:active {
    text-decoration: none; }
  .btn-main::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background: white; }

.about {
  background-color: #f7f7f7;
  padding: 30vh 0;
  margin-top: -20vh;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .about {
      padding: 15vh 0; } }
  .about_container {
    text-align: center; }
    .about_container--heading {
      padding: 0;
      margin-bottom: 1rem; }
    .about_container--composition {
      padding: 4rem;
      margin: 0 auto; }
      .about_container--composition--text {
        padding-left: 10rem; }
        @media (max-width: 56.25em) {
          .about_container--composition--text {
            padding-left: 0; } }
      .about_container--composition--image {
        position: relative; }
        @media (max-width: 56.25em) {
          .about_container--composition--image {
            height: 50vh;
            margin: 0 auto; } }
        @media (max-width: 37.5em) {
          .about_container--composition--image {
            height: 30vh;
            padding-top: 10rem; } }

.about_images {
  width: 45%;
  border-radius: .2rem;
  box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 10%; }
  @media (max-width: 56.25em) {
    .about_images {
      width: 30%; } }
  .about_images-p1 {
    top: -2rem;
    left: 0;
    z-index: 5; }
  .about_images-p2 {
    top: 2rem;
    right: 10rem;
    z-index: 6; }
  .about_images-p3 {
    top: 10rem;
    left: 20%;
    z-index: 7; }
  @media (max-width: 56.25em) {
    .about_images-p1 {
      top: 2rem;
      left: 15%;
      z-index: 5; }
    .about_images-p2 {
      top: -2rem;
      left: 35%;
      z-index: 6; }
    .about_images-p3 {
      top: 2rem;
      left: 55%;
      z-index: 5; } }
  .about_images:hover {
    z-index: 20;
    transition: all .3s;
    transform: scale(1.3);
    outline: 1.2rem solid #55c57a;
    outline-offset: 1.5rem; }

.float_layouts {
  float: left;
  margin: 0 auto;
  width: calc((100% - 3rem)/2); }
  .float_layouts:not(:last-child) {
    margin-right: 3rem; }
  .float_layouts::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .float_layouts {
      display: block;
      width: 100%;
      text-align: center; } }

.features-section {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  padding: 20rem 0;
  text-align: center;
  background-position: top;
  background-size: cover;
  margin-top: -10vh;
  transform: skewY(-5deg); }
  @media (max-width: 56.25em) {
    .features-section {
      padding: 10vh 0;
      margin-top: -20vh; } }
  .features-section::after {
    content: "";
    display: table;
    clear: both; }
  .features-section--container {
    padding: 0 calc(2*3rem);
    max-width: 100%;
    transform: skewY(5deg); }
    .features-section--container::after {
      content: "";
      display: table;
      clear: both; }

.features-card {
  float: left;
  width: calc((100% - 6 * 3rem)/4);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: .4rem;
  height: 70%;
  transition: all .2s;
  color: #777;
  font-size: 1.5rem;
  padding: 2rem; }
  .features-card:not(:last-child) {
    margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .features-card:not(:last-child) {
        margin-right: auto; } }
  @media (max-width: 56.25em) {
    .features-card {
      text-align: center;
      width: 70%;
      display: block;
      margin: 0 auto;
      float: none;
      margin-bottom: 6rem; } }
  .features-card--icons {
    display: inline-block;
    font-size: 5rem;
    background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .features-card--para {
    padding-bottom: 4rem; }
  .features-card:hover {
    transform: scale(1.1) translateY(-5%); }

.tours-section {
  text-align: center;
  padding: 15vh;
  background: #f7f7f7;
  margin-top: -10vh; }

.tours-container--btn {
  margin: 5rem auto;
  background-color: #55c57a;
  color: white;
  padding: 1.5rem 4rem;
  transition: all .1 s; }
  .tours-container--btn::after {
    background-color: #55c57a; }

.tours-container--cards {
  text-align: center;
  margin: 0 auto;
  position: relative; }
  .tours-container--cards::after {
    content: "";
    display: table;
    clear: both; }

.grid-card {
  float: left;
  width: calc((100% - 4 * 3rem)/3);
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .grid-card::after {
    content: "";
    display: table;
    clear: both; }
  .grid-card:not(:last-child) {
    margin-right: 6rem; }
  .grid-card:hover .faces--front {
    transform: rotateY(180deg); }
  .grid-card:hover .faces--back {
    transform: rotateY(0deg); }

.faces {
  height: 40rem;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  transition: all 800ms ease-in-out;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: .9rem; }
  .faces--front {
    background: white; }
    .faces--front--c1 > .faces--image {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .faces--front--c2 > .faces--image {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .faces--front--c3 > .faces--image {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
    .faces--front--c1 > .faces--heading > .liner {
      background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .faces--front--c2 > .faces--heading > .liner {
      background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .faces--front--c3 > .faces--heading > .liner {
      background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .faces--back {
    transform: rotateY(-180deg); }
    .faces--back--c1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .faces--back--c2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .faces--back--c3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }

.faces--image {
  height: 16rem;
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%); }

.faces--heading {
  color: black;
  text-transform: uppercase;
  font-size: 2.2rem;
  color: white;
  font-weight: 300;
  position: absolute;
  top: 20%;
  right: 1%;
  width: 60%;
  text-align: right; }

.faces--text--list {
  list-style: none;
  width: 80%;
  padding: 1rem;
  margin-bottom: 3rem;
  margin: 0 auto;
  text-align: center; }
  .faces--text--list li {
    color: #777;
    font-size: 1.5rem;
    display: block;
    padding: .7rem;
    text-transform: capitalize; }
    .faces--text--list li:not(:last-child) {
      border-bottom: .1rem solid #eee; }

.liner {
  padding: 1rem 2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }

.price {
  padding: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center; }
  .price > p {
    font-size: 1rem;
    padding-top: 8rem; }
  .price > h4 {
    padding-bottom: 4rem;
    font-size: 5rem;
    font-weight: 400; }

.book-now {
  padding: 2rem 3rem; }

@media (max-width: 56.25em) {
  .grid-card {
    float: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 6rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    background-color: #fff; }
    .grid-card:hover .faces--front {
      transform: rotateY(0deg); }
    .grid-card:hover .faces--back {
      transform: rotateY(0deg); }
    .grid-card:not(:last-child) {
      margin-right: auto; }
  .faces {
    position: relative;
    color: white;
    overflow: hidden;
    border-radius: 0;
    box-shadow: none; }
    .faces--front {
      background: white; }
    .faces--back {
      border-radius: 0;
      transform: rotateY(0deg);
      clip-path: polygon(0 30%, 100% 15%, 100% 100%, 0% 100%); }
  .price > p {
    font-weight: 700; }
  .price > h4 {
    padding-bottom: 4rem;
    font-size: 5rem;
    font-weight: 400; }
  .book-now {
    margin-top: -4rem; }
  .faces--text--list li {
    font-size: 2rem; } }

.stories-section {
  position: relative;
  text-align: center;
  padding: 10rem;
  overflow: hidden; }

.read-all {
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 2rem; }

.stories-container--story {
  width: 70%;
  height: 30rem;
  margin: 10rem auto;
  margin-top: -3rem;
  padding: 4rem;
  background: rgba(247, 247, 247, 0.4);
  box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.3);
  transform: skewX(-12deg); }
  .stories-container--story:hover .cust-image--name {
    transform: translate(-50%, -50%); }
  .stories-container--story:hover .cust-image--img {
    transform: scale(1);
    filter: blur(0.5rem) brightness(80%); }

.cust-image {
  margin: 2.5rem 1rem;
  float: left;
  height: 15rem;
  width: 15rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: skewX(12deg);
  position: relative; }
  .cust-image--img {
    transform: scale(1.3);
    height: 100%; }
  .cust-image--name {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    transform: translateY(-50rem);
    transition: all .5s; }

.story-text {
  text-align: left;
  padding-top: 2.5rem;
  transform: skewX(12deg); }

.review {
  font-size: 1.5rem;
  color: #777; }

.bg-video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .15;
  z-index: -2; }
  .bg-video-vid {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.booking-section {
  height: 110vh;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  position: relative; }

.booking-container {
  height: 60%;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.4); }
  .booking-container--bg {
    width: 100%;
    height: 100%;
    background: url("../img/nat-10.jpg");
    background-position: center;
    background-size: cover;
    position: relative; }
  .booking-container--form {
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
    background: rgba(247, 247, 247, 0.9);
    position: absolute;
    top: 0;
    padding: 3rem 5rem; }

.booking-heading {
  font-size: 3rem;
  padding: 0;
  margin: 1rem 0; }
  .booking-heading:hover {
    transform: skewX(5deg) skewY(2deg) scale(1.05); }

.booking-form .form-input--text {
  display: block;
  padding: 1rem;
  line-height: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: #777;
  font-size: 1.5rem;
  width: 40%;
  border: none;
  border-bottom: .3rem solid transparent;
  letter-spacing: .2rem;
  transition: all .3s; }
  .booking-form .form-input--text:not(:last-child) {
    margin-top: 1rem; }
  .booking-form .form-input--text:focus {
    outline: none;
    border-bottom: 0.3rem solid #55c57a; }
    .booking-form .form-input--text:focus:invalid {
      border-bottom: .3rem solid #ff7730; }
    .booking-form .form-input--text:focus + .form-input--label {
      opacity: 1;
      transform: translateY(0); }
  .booking-form .form-input--text::-webkit-input-placeholder {
    color: #777;
    font-family: inherit;
    letter-spacing: .2rem;
    font-size: inherit; }
  .booking-form .form-input--text:placeholder-shown + .form-input--label {
    opacity: 0;
    transform: translateY(-2rem); }

.form-input--label {
  display: block;
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  letter-spacing: .2rem;
  transition: all .3s;
  transform: translateY(-2rem);
  opacity: 0;
  color: #777; }

.cust-btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  transform: translateX(-0.5rem) translateY(1rem);
  position: relative; }
  .cust-btn::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #55c57a;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .2s; }

.grp-rd-btn {
  display: none; }
  .grp-rd-btn:checked + .grp-rd-label > .cust-btn::after {
    opacity: 1; }

.grp-rd-label {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: #777;
  transition: all .2s;
  text-transform: capitalize; }

.next-step {
  background: #55c57a;
  color: #fff;
  padding: 1rem 3rem;
  margin: 3rem 0; }
  .next-step::after {
    background: #55c57a; }

.footer-float {
  width: calc((100% - 2 * 3rem)/2);
  padding: 1.3rem 0;
  border-top: 0.08rem solid #fff;
  float: left; }
  .footer-float:not(:last-child) {
    margin-right: 6rem; }
  .footer-float::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .footer-float {
      width: 100% !important;
      border: none;
      float: none;
      display: inline-block;
      text-align: center;
      margin: 0; }
      .footer-float:not(:last-child) {
        margin-bottom: 6rem; } }

.footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 10rem;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 5rem; } }
  .footer-logo {
    display: block;
    text-align: center;
    margin-bottom: 5rem; }
    .footer-logo--logo {
      width: 15rem;
      height: auto; }
  .footer-nav {
    display: block;
    width: auto; }
  .footer-nav--list {
    list-style-type: none;
    font-size: 1.4rem;
    color: #fff;
    display: inline-block;
    text-transform: uppercase; }
    .footer-nav--list li:not(:last-child) {
      margin-right: 1rem; }
  .footer-hover-effect {
    display: inline-block;
    transition: all .3s; }
    .footer-hover-effect:hover {
      transform: rotate(-5deg) scale(1.1);
      padding: 0 1rem;
      background: rgba(0, 0, 0, 0.8);
      color: #55c57a; }
    .footer-hover-effect-right:hover {
      transform: rotate(5deg) scale(1.1);
      padding: 0; }
  .footer-credits {
    font-size: 1.4rem;
    color: #fff;
    float: right;
    width: 40%; }
    @media (max-width: 56.25em) {
      .footer-credits {
        padding-bottom: 5rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  height: 4.5rem;
  width: 4.5rem;
  top: 3.7rem;
  right: 3.7rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0rem 1rem 10rem rgba(0, 0, 0, 0.6);
  background-color: #f7f7f7;
  text-align: center; }

.navigation__background {
  position: fixed;
  height: 4rem;
  width: 4rem;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 1000;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: all 0.8s cubic-bezier(0, 1.04, 0, 1.01); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0, 1.04, 0, 1.01); }

.navigation__list {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; }

.navigation__item {
  margin: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 300;
  padding: .5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 240%;
  transition: all .4s;
  backface-visibility: hidden; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
  border-radius: .3rem; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__icon {
  position: relative;
  margin-top: 2.3rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: .2rem;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.popup-section {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup-section:target {
    opacity: 1;
    visibility: visible; }
    .popup-section:target .popup {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.1); }

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f7f7f7;
  width: 70%;
  border-radius: .5rem;
  box-shadow: 1rem 2rem 10rem rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: table;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.4);
  transition: all .4s; }
  .popup__left {
    width: 33.3%;
    height: 100%;
    display: table-cell; }
    .popup__left--pics {
      width: 100%;
      display: block; }
  .popup__right {
    width: 66.7%;
    display: table-cell;
    height: 100%;
    text-align: left;
    padding: 4rem;
    vertical-align: middle; }
    .popup__right--heading-main {
      padding: 0;
      margin: 0 auto;
      margin-bottom: 3rem; }
    .popup__right--heading-sub {
      font-size: 1.5rem;
      font-weight: 900;
      color: rgba(0, 0, 0, 0.7); }
    .popup__right--para {
      font-size: 1.3rem;
      color: #777;
      column-count: 2;
      column-gap: 3rem;
      column-rule: 0.1rem solid rgba(0, 0, 0, 0.3);
      hyphens: auto;
      -webkit-hyphens: auto; }
    .popup__right--btn {
      margin-top: 4rem;
      padding: 1rem 3rem;
      background-color: #55c57a;
      color: #fff; }
      .popup__right--btn::after {
        background-color: #55c57a; }
  .popup__close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: inline-block; }
    .popup__close--cross {
      font-size: 2.5rem;
      color: #777; }
      .popup__close--cross:link, .popup__close--cross:visited {
        text-decoration: none; }
      .popup__close--cross:hover {
        color: #55c57a; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  position: relative; }
  @media (max-width: 56.25em) {
    .header {
      height: 60vh;
      clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%); } }
  .header-container {
    overflow: hidden; }
  .header-logo--main {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 3rem; }
  .header-textbox {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header-textbox--heading {
      color: #fff;
      text-transform: uppercase;
      text-align: center; }
    .header-textbox--main {
      font-size: 6rem;
      font-weight: 400;
      display: block;
      letter-spacing: 2rem;
      animation: moveRight 1000ms ease-out; }
    .header-textbox--sub {
      display: block;
      font-size: 1.5rem;
      letter-spacing: 1.5rem;
      font-weight: 700;
      animation: moveLeft 1000ms ease-out; }
  .header-btn {
    margin: 5rem;
    animation: moveUp 1000ms ease-out; }
    .header-btn--discover {
      padding: 1.5rem 3.5rem !important; }

@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}
